name: Package and Upload Release Assets

on:
  release:
    types: [created]

  # This allows you to run the workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'The tag of the release to upload assets to'
        required: true
        type: string

permissions:
  # This permission is required for the action to create a GitHub Release
  contents: write

jobs:
  package-and-upload:
    runs-on: ubuntu-latest
    steps:
      # 1. Checks out your repository's code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Create TAR archive
      - name: Create TAR archive
        run: tar -czvf ../conductor-release.tar.gz --exclude='.git' --exclude='.github' . && mv ../conductor-release.tar.gz .

      # 3. Upload the TAR archive as a release asset
      - name: Upload archive to GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload \
            ${{ github.event.release.tag_name || inputs.tag_name }} \
            conductor-release.tar.gz